/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* stili nav */
header{
    background-image:url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    padding: 16px 0;   
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.container-nav ul{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 10px 10px; 
}

ul li{
    list-style-type: none;
    padding: 0 10px;
}

.link-nav{
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.container-nav div{
    flex-basis: 25%;
}

.container-nav .button{
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
}

.button button{
    border: none;
    border-radius: 23px;
    padding: 10px 16px;
    font-size: 16px;
}

/* stili main-header */

.main-header{
    font-size: 20px;
    display: flex;;
}

.text-header{
    width: 43%;
    margin: 60px auto;
    padding: 25px 0;
    text-align: center;
    color: white;
}

.text-header p{
    padding: 25px 0;
}

.text-header button{
    border: none;
    border-radius: 23px;
    padding: 10px 16px;
    font-size: 16px;
    margin: 0 5px;
}

.button-white::before{
    content: "\2913";
    margin: 0 3px;
}

.button-black{
    background-color: #23272a;
    color: white;
}

/* stili main generali*/

section{
    padding: 20px 0;
}

.container-section{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto;
}

.text-main{
    /* flex-basis: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-main h2{
    font-size: 50px;
}

.text-main p{
    padding-top: 16px;
    font-size: 18px;
}
 
/* stili section specifici */

.sezione2, .sezione4{
    background-color: #f6f6f6;
}

#img-main2{
    flex-basis: 60%;
    order: 1;
}

#container-section4{
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
}

#container-section4 img{
    width: 100%;
}

#container-section4 h2{
    padding: 16px 0;
    font-size: 50px;
}
#container-section4 p{
    font-size: 18px;
}



/* stili footer */

footer{
    background-color: rgb(52, 47, 47);
}
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 5px 0 30px 0;
    min-height: 400px;
}

.social{
    flex-basis: 50%;
    background-color: pink;
}

.list{
    flex-basis: 25%;
    background-color: aqua;
    border: 2px dotted white;
}

#end{
    border-top:1px solid gray;
    padding-top: 10px;
}

.container-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  lightskyblue;
    width: 70%;
    margin: 0 auto;
    min-height: 40px;
}

